@import "utility";

$primary: #24509c;
$light: #dde7f8;
$lighter: #ecf0f7;

body {
  @media screen {
    background: $light;
    .only-print {
      display: none;
    }
  }
  @media print {
    .dont-print {
      display: none;
    }
    font-size: 12px;
  }
}

.input {
  max-width: 3em;
  width: auto;
  text-align: center;
}

.sheet {
  display: flex;
  flex-direction: column;

  @media screen {
    background: white;
    max-width: 1280px;
    padding: 60px 120px;
    margin: 4em auto;
    box-sizing: border-box;
    min-height: 1810px;
    width: 100%;
    box-shadow: 0px 20px 80px rgba($primary, 0.33);
  }
}

.table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    border: 1px solid black;
    padding: 0.67em;
  }

  &__head {
    background: #ccc;
    font-weight: normal;
    font-style: italic;
  }
}

.database {
  position: fixed;
  border: 10px solid $primary;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: scroll;
}
